.like150420 ul li a {
	height: 72px;
}

.like150420 ul li a span.type {
	background:#14ae67;
	padding:1px 2px;
	color:#fff;
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    font-size:10px !important;
}

.like150420 ul li a span.labels{
	padding:1px 2px;
	color:#fff;
	-moz-border-radius: 3px;      /* Gecko browsers */
    -webkit-border-radius: 3px;   /* Webkit browsers */
    border-radius:3px;            /* W3C syntax */
    font-size:10px !important;
    width: auto;
    display: inline;
    margin-right: 5px;
}
.like150420 ul li a span.labels.label1{
	background:#f6512a;
}
.like150420 ul li a span.labels.label2{
	background:#14ae67;
}
.like150420 ul li a span.labels.label3{
	background:#faa41c;
}
.like150420 ul li a span.labels.label4{
	background:#3db0f1;
}
.like150420 ul li a span.labels.label5{
	background:#f65f5f;
}
.like150420 ul li a span.labels.label6{
	background:#d957e1;
}

.like150420 ul li a span.labels.label_new1{
	border:1px solid #f6512a; color:#f6512a; background:none;
}
.like150420 ul li a span.labels.label_new2{
	border:1px solid #14ae67; color:#14ae67; background:none;
}
.like150420 ul li a span.labels.label_new3{
	border:1px solid #faa41c; color:#faa41c; background:none;
}
.like150420 ul li a span.labels.label_new4{
	border:1px solid #3db0f1; color:#3db0f1; background:none;
}
.like150420 ul li a span.labels.label_new5{
	border:1px solid #f65f5f; color:#f65f5f; background:none;
}
.like150420 ul li a span.labels.label_new6{
	border:1px solid #d957e1; color:#d957e1; background:none;
}
.like150420 ul li a span.labels.label_new7{
	border:1px solid #804040; color:#804040; background:none;
}

/* .like150420 ul li a span.date {
	background: url('../../images/m/calendar@2x.png') 0px 2px no-repeat;
	background-size: 15px;
} */

.like150420 ul li a span.date_new {
	background: none;
	width:136px;color:#999999;
	padding:0;margin:0;display:inline-block;
}




